
<div class="line">
  <p class="question"><%= params[:answer] %></p>
  <p>– You</p>
  <p class="answer"><%= @answer %></p>
  <p>– Your Coach</p>
</div>

<p class="repeat"><%= link_to "Ask another question", ask_path %></p>
